/* Babas Neue and Roboto fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@500&display=swap');

body{
    /* font-family: 'Bebas Neue', cursive; */
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: #FFFBF0;
    height: 650px;
}
.yellow-color{
    color: #FABE4C;
}
.banner-left a{
    color: #FFFFFF;
}
.button-color{
   background-color: #A4BC46;

}
